.Button {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: block;
  width: 100;
  height: 20;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
  text-align: left;
  text-transform: uppercase;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  z-index: 1;
}

.Button-mask {
  position: absolute;
  transition: -webkit-transform 0.425s ease-in-out;
  transition: transform 0.425s ease-in-out;
  transition: transform 0.425s ease-in-out, -webkit-transform 0.425s ease-in-out;
  z-index: -1;
}

.Button-mask.slides-left {
  left: 0;
}

.Button-mask.slides-right {
  right: 0;
}

.Button-slides {
  top: 0;
  width: 200%;
  height: 100%;
}

.Button-rotates {
  top: 50%;
  left: 50%;
  width: 200%;
  height: 600%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}

.Button:hover .Button-mask.slides-left {
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
}

.Button:hover .Button-mask.slides-right {
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
}

.Button:hover .Button-mask.rotates-clockwise {
  -webkit-transform: rotate(180deg) translate3d(50%, 50%, 0);
  transform: rotate(180deg) translate3d(50%, 50%, 0);
}

.Button:hover .Button-mask.rotates-c-clockwise {
  -webkit-transform: rotate(-180deg) translate3d(50%, 50%, 0);
  transform: rotate(-180deg) translate3d(50%, 50%, 0);
}

.Graident-two {
  background: linear-gradient(135deg, #00c7c5 0%, #0088d7 100%);
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.Buttona {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  color: #ffd;
  display: block;
  width: 200;
  height: 15;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  margin-top: 1rem;
  padding: 1rem 2rem;
  position: relative;
  overflow: hidden;
  text-align: left;
  text-transform: uppercase;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  will-change: transform;
  z-index: 1;
}
